<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header class="header">
        <%- include('../partials/header'); %>
    </header>
    <div class="posts-list">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <a class="singlepost" href="/singlepost/<%= post.id %>">
                    <h3 class="title">
                        <%= post.title %>
                    </h3>
                    <p class="body">
                        <%= post.body %>
                    </p>
                    <p class= "post-footer">
                        <button id="like-button" type="button" @click="post.like++";></button>
                            <span id="post-like"><% if(post.likes > 0){ %>
                                        Likes: <%= post.likes %> 
                                        <% } else{ %> 
                                         This post has no likes.
                                        <% } %> </span>
                    </p>
                    
                </a>
                <% }) %>
                    <% } else { %>
                        <p>You did not post anything...</p>
                        <% } %>
    </div>
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>